@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br />
    <br />
    <h2><i class="fa fa-id-card fa-4x" aria-hidden="true"></i></h2>
    <h3 class="display-4">Controle de Funcionários</h3>
    <p>Manual do Usuário <a href="#">clique aqui</a></p>    
</div>
