@model ControleFuncionario.Models.Situacao

@{
    ViewData["Title"] = "Details";
}

<h1><i class="fa fa-file-text-o" aria-hidden="true"></i> Detalhes</h1>

<div>
    <h4>Situacao</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.SituacaoId" class="btn btn-dark"><i class="fa fa-pencil-square-o fa-2" aria-hidden="true"></i> Editar</a> |
    <a asp-action="Index" class="btn btn-light">Voltar</a>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.0.272/jspdf.debug.js"></script>
<script src="~/js/gerador.pdf.js"></script>